name: Debug
on:
  push:
  workflow_dispatch:

jobs:
  debug:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: fawazahmed0/action-debug-vscode@main # touch continue
